<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymLog"
        tools:targetApi="31">

        <!-- 1. MainActivity (Start-Activity) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 2. HistoryActivity -->
        <activity
            android:name=".HistoryActivity"
            android:exported="true" />

        <!-- 3. NewExerciseActivity -->
        <activity
            android:name=".NewExerciseActivity"
            android:label="Neue Übung"
            android:exported="true" />

        <activity android:name=".SettingsActivity"
            android:label="Einstellungen"
            android:exported="false" />

        <activity android:name=".MuscleStatsActivity"
            android:label="@string/title_muscle_stats"
            android:exported="false" />

        <activity android:name=".StreakActivity"
            android:label="Streak Kalender"
            android:exported="false" />

        <receiver android:name=".widget.StreakWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/streak_widget_info" />
        </receiver>

    </application>
</manifest>